﻿/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.container {
  padding-top: 20px;
}

.text-center {
  text-align: center;
}

.invoice {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
}

.total {
  font-weight: bold;
}

.due {
  color: red;
  font-weight: bold;
}




.sales-item-brunch {
  width: 50px;
  height: 100px;
  border-radius: 15px;

  background-color: #a5d8ff;
  border: 2px solid #4dabf7;
}

.sales-item-dinner {
  width: 50px;
  height: 100px;
  border-radius: 15px;

  background-color: #b2f2bb;
  border: 2px solid #2f9e44;
}