﻿@using Microsoft.AspNetCore.Identity
@using EmployeeManager.Web.Data
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Restaurateur"))
        {

        }
        <li class="nav-item">
            @{
                var user = await UserManager.GetUserAsync(User);
                var firstName = user?.FirstName;
            }
        <div class="dropstart">
            <a class="nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a class="nav-link text-dark" href="/Identity/Account/Manage" >Manage Account</a>
                </li>
                <li class="dropdown-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
                </li>
            </ul>
        </div>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
