@model IEnumerable<Campaign>

@if (Model != null && Model.Any())
{
    <h3>Search Results</h3>
    <ul>
    @foreach (var campaign in Model)
        {
            <li>@campaign.Name</li>
        }
    </ul>
}
else
{
    <p>No campaigns found.</p>
}
