@model IEnumerable<Campaign>

<form method="get" action="@Url.Action("Search", "Campaign")" id="campaignSearchForm">
    <input type="text" name="query" class="form-control" placeholder="Search Campaigns">
    <button type="submit" style="display: none;">Search</button> <!-- Hide the search button -->
</form>

<div id="searchResults">
    <partial name="_SearchResultsPartial" />
</div>
