@using Microsoft.AspNetCore.Identity
@using EmployeeManager.Web.Data
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<ul class="navbar-nav">
    @if (User.IsInRole("Staff"))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            </li>
                <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Leads" asp-action="Leads">Leads</a>
            </li>
                            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Donors" asp-action="Donors">Donors</a>
            </li>


    }
</ul>
