@model Campaign
@{
    Layout = "_Layout";
}
<h1>Delete Campaign</h1>

<h3>Are you sure you want to delete this campaign?</h3>
<div>
    <h4>Name: @Model.Name</h4>
    <h4>Start Date: @Model.StartDate.ToShortDateString()</h4>
    <h4>End Date: @Model.EndDate.ToShortDateString()</h4>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
