@model Campaign
@{
    Layout = "_Layout";
}
<h1>Campaign Details</h1>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Start Date: @Model.StartDate.ToShortDateString()</h4>
    <h4>End Date: @Model.EndDate.ToShortDateString()</h4>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
